body{
    background-image: url(../photos/Mars2.jpg);
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:cornflowerblue;
    text-shadow:2px 2px 3px lightblue;
    font-size:2.5vw;
}

h2{
    font-family:Oswald, 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(12, 47, 225);
    text-align:center;
    font-size:2.5vw;
    text-shadow:2px 2px cyan;
}

h3{
    font-family:Roboto,Nunito,Rubic,Ubuntu, sans-serif;
    color:rgb(0, 247, 255);
    font-size:1.30vw;
}


p{
   font-family:'Lato', arial;
   color:white;
   font-size:1.25vw;
}

.Question{
    color:rgb(0, 251, 255);
}

#navtext{
    text-align:left;
}

#realign{
position:absolute;
top:44.25%; 
border-style:hidden;
}

img{
display: block;
margin-left:auto;
margin-right:auto;
width:35%;
height:35%;
border-radius:35%;
border:solid;
}

.Logo{
border:none;
width:25%;
height:25%;
border-radius:25%;
}

a:visited{
color:darkblue;
border: 2px solid darkblue;
}

a:link{
color:cornflowerblue;
border: 2px solid cornflowerblue;
border-radius: 5px;
margin:10px 10px 10px 0px;
background-color:rgb(183, 224, 243);
font-size:1.2vw;
font-family:'Share Tech', 'Open Sans', 'Roboto Condensed', Sansation, Ubuntu, Quicksand, Barlow, Cabin, Marvel, monospace;
}

a:hover{
    color:blue;
    border: 2px solid blue;
    background-color:rgb(109, 199, 255);
}

li{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

footer{
background: linear-gradient(to top,gainsboro, grey);
border: 3px solid grey;
border-radius: 5px;
}

div{
    border-style:solid hidden solid hidden;
    background-color:rgb(3, 155, 206);
}

#navtext{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color:cornflowerblue;
    position:absolute;
    bottom:50%;
}

#warning{
    color:purple;
    font-size:1.5vw;
    text-shadow: 1px 1px black;
}

#Answer{
    color:blue;
}

li {
    list-style-type: none;
}

.linkid{
    font-size:2vw;
    margin: 0px 5% 0px 7.6%;
}

#linkid:hover{
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}